.notes-container {
  padding: 1em;
  margin-left: 10rem;
  margin-right: 10rem;

}

.notes-header {
  margin: 1em;
}

.qft-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.qft-card-button {
  max-height: 3rem;

  &:hover {
    cursor: pointer;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    opacity: 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
    transition: opacity 0.35s, -webkit-transform 0.35s;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    -webkit-transform: scale(0, 1) 0.35s;
    transform: scale(0, 1);
  }

  &:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
