.landing-page-container {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: space-between;

  .marquee {
    max-height: 50vh;
    white-space: nowrap;

    .marqee-content {
      font-size: clamp(10vw, 15vw, 20vw);
    }
  }

  .landing-caption {
    padding: 5rem;
  }
}
