.top-bar {
  box-shadow: none !important;
  background: rgba(var(--background-color), 0.7) !important;

  .top-bar-text {
    text-decoration: none;
  }

  .top-bar-button {
    position: relative;
    margin: 1em;
    text-align: center;
    height: 30px;
    user-select: none;
  }

  .top-bar-home-button {
    position: relative;
    user-select: none;
    width: 6.5ch;
  }
}
