@use "css/fonts.scss";
@use "css/scrollbar.scss";
@use "css/interactions.scss";
@use "css/animations.scss";

:root {
  --skew-amount: 15deg;
  --magic-number: 0.09719;
  --content-width: 100vw;
  --background-color: #1c1f24;
}

html {
  // ------------ Scrolling -------------
  overflow: overlay;
  /* Make scrollbar track transparent */
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: proximity;
}

body {
  // ------------- Font Smoothing ---------
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1 {
  font-size: 15rem;
  color: #fff;
  padding: 0;
  margin: 0;
}

a {
  color: #fff;
}

button {
  background-color: transparent;
  outline-color: transparent;
  border: none;
  color: #fff;
  font-size: 2rem;
  font-family: 'Rany';
  font-weight: bold;
}

.page-container {
  min-height: 100vh;
  min-width: 100vw;
  scroll-snap-align: start;
  margin-top: 15vh;
  margin-bottom: 15vh;
}

.text {
  max-width: 45ch;
}

.canvas-background {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: -999;
}
